{% set original = k3s_kubeconfig.content | b64decode | from_yaml %}
{{ original | combine({'clusters': [{'name': 'default', 'cluster':
  (original.clusters[0].cluster | combine({'server': 'https://' ~ k3s_api_host ~ ':6443'}))
}]}) | to_nice_yaml }}
